* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 0.1s ease-in;
}

th , td {
    border: 1px solid #ffff00;
    padding: 10px;
}

th {
    color: rgb(121, 121, 121);
}

td {
    color:white;
}

td:hover {
    border-radius: 10px;
    background: #000;
    transform: scale(0.8)
}

body {
    background-color: #000;
}